In [2]:
import pandas as pd
import numpy as np

#### Dictionary of Lists:
data = {
    'Order ID': [1001, 1002, 1003, 1004, 1005],
    'Product': ['Widget', 'Gadget', 'Thingamajig', 'Doodad', 'Whatchamacallit'],
    'Customer ID': ['C001', 'C002', 'C003', 'C004', 'C005'],
    'Is Prime': [True, False, True, False, True],
    'Quantity': [10, 5, 8, 3, 12],
    'Price': [9.99, 19.99, 14.99, 7.99, 24.99],
    'Order DatetimeTZNaive': pd.date_range('2022-01-01  08:00:00', periods=5).tolist(),
    'Order Status': ['Pending', 'Shipped', 'Delivered', 'Pending', 'Shipped'],
    'Shipping Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St', '654 Maple St'],
    'Order Period': pd.period_range('2022-01', periods=5, freq='M').tolist()
}

df_dictionary_of_lists = pd.DataFrame(data)
df_dictionary_of_lists

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [3]:
#### List of Dictionaries:
data = [
    {'Order ID': 1001, 'Product': 'Widget', 'Customer ID': 'C001', 'Is Prime': True, 'Quantity': 10, 'Price': 9.99, 'Order DatetimeTZNaive': pd.Timestamp('2022-01-01 08:00:00'), 'Order Status': 'Pending', 'Shipping Address': '123 Main St', 'Order Period': pd.Period('2022-01', freq='M')},
    {'Order ID': 1002, 'Product': 'Gadget', 'Customer ID': 'C002', 'Is Prime': False, 'Quantity': 5, 'Price': 19.99, 'Order DatetimeTZNaive': pd.Timestamp('2022-01-02 08:00:00'), 'Order Status': 'Shipped', 'Shipping Address': '456 Elm St', 'Order Period': pd.Period('2022-02', freq='M')},
    {'Order ID': 1003, 'Product': 'Thingamajig', 'Customer ID': 'C003', 'Is Prime': True, 'Quantity': 8, 'Price': 14.99, 'Order DatetimeTZNaive': pd.Timestamp('2022-01-03 08:00:00'), 'Order Status': 'Delivered', 'Shipping Address': '789 Oak St', 'Order Period': pd.Period('2022-03', freq='M')},
    {'Order ID': 1004, 'Product': 'Doodad', 'Customer ID': 'C004', 'Is Prime': False, 'Quantity': 3, 'Price': 7.99, 'Order DatetimeTZNaive': pd.Timestamp('2022-01-04 08:00:00'), 'Order Status': 'Pending', 'Shipping Address': '321 Pine St', 'Order Period': pd.Period('2022-04', freq='M')},
    {'Order ID': 1005, 'Product': 'Whatchamacallit', 'Customer ID': 'C005', 'Is Prime': True, 'Quantity': 12, 'Price': 24.99, 'Order DatetimeTZNaive': pd.Timestamp('2022-01-05 08:00:00'), 'Order Status': 'Shipped', 'Shipping Address': '654 Maple St', 'Order Period': pd.Period('2022-05', freq='M')}
]

df_list_of_dictionarys = pd.DataFrame(data)
df_list_of_dictionarys

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [4]:
##### List of Lists for data and List of Columns
columns = ['Order ID', 'Product', 'Customer ID', 'Is Prime', 'Quantity', 'Price', 'Order DatetimeTZNaive', 'Order Status', 'Shipping Address', 'Order Period']
data = [
    [1001, 'Widget', 'C001', True, 10, 9.99, pd.Timestamp('2022-01-01 08:00:00'), 'Pending', '123 Main St', pd.Period('2022-01', freq='M')],
    [1002, 'Gadget', 'C002', False, 5, 19.99, pd.Timestamp('2022-01-02 08:00:00'), 'Shipped', '456 Elm St', pd.Period('2022-02', freq='M')],
    [1003, 'Thingamajig', 'C003', True, 8, 14.99, pd.Timestamp('2022-01-03 08:00:00'), 'Delivered', '789 Oak St', pd.Period('2022-03', freq='M')],
    [1004, 'Doodad', 'C004', False, 3, 7.99, pd.Timestamp('2022-01-04 08:00:00'), 'Pending', '321 Pine St', pd.Period('2022-04', freq='M')],
    [1005, 'Whatchamacallit', 'C005', True, 12, 24.99, pd.Timestamp('2022-01-05 08:00:00'), 'Shipped', '654 Maple St', pd.Period('2022-05', freq='M')]
]

df_list_of_list = pd.DataFrame(data, columns=columns)
df_list_of_list

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [5]:

##### List of Tuples
columns = ['Order ID', 'Product', 'Customer ID', 'Is Prime', 'Quantity', 'Price', 'Order DatetimeTZNaive', 'Order Status', 'Shipping Address', 'Order Period']
data = [
    (1001, 'Widget', 'C001', True, 10, 9.99, pd.Timestamp('2022-01-01 08:00:00'), 'Pending', '123 Main St', pd.Period('2022-01', freq='M')),
    (1002, 'Gadget', 'C002', False, 5, 19.99, pd.Timestamp('2022-01-02 08:00:00'), 'Shipped', '456 Elm St', pd.Period('2022-02', freq='M')),
    (1003, 'Thingamajig', 'C003', True, 8, 14.99, pd.Timestamp('2022-01-03 08:00:00'), 'Delivered', '789 Oak St', pd.Period('2022-03', freq='M')),
    (1004, 'Doodad', 'C004', False, 3, 7.99, pd.Timestamp('2022-01-04 08:00:00'), 'Pending', '321 Pine St', pd.Period('2022-04', freq='M')),
    (1005, 'Whatchamacallit', 'C005', True, 12, 24.99, pd.Timestamp('2022-01-05 08:00:00'), 'Shipped', '654 Maple St', pd.Period('2022-05', freq='M'))
]

df_list_of_tuple = pd.DataFrame(data, columns=columns)
df_list_of_tuple

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [6]:
#### List of Namedtuples:
from collections import namedtuple

Order = namedtuple('my_named_tuple', ['Order_ID', 'Product', 'Customer_ID', 'Is_Prime', 'Quantity', 'Price', 'Order_DatetimeTZNaive', 'Order_Status', 'Shipping_Address', 'Order_Period'])

data = [
    Order(1001, 'Widget', 'C001', True, 10, 9.99, pd.Timestamp('2022-01-01 08:00:00'), 'Pending', '123 Main St', pd.Period('2022-01', freq='M')),
    Order(1002, 'Gadget', 'C002', False, 5, 19.99, pd.Timestamp('2022-01-02 08:00:00'), 'Shipped', '456 Elm St', pd.Period('2022-02', freq='M')),
    Order(1003, 'Thingamajig', 'C003', True, 8, 14.99, pd.Timestamp('2022-01-03 08:00:00'), 'Delivered', '789 Oak St', pd.Period('2022-03', freq='M')),
    Order(1004, 'Doodad', 'C004', False, 3, 7.99, pd.Timestamp('2022-01-04 08:00:00'), 'Pending', '321 Pine St', pd.Period('2022-04', freq='M')),
    Order(1005, 'Whatchamacallit', 'C005', True, 12, 24.99, pd.Timestamp('2022-01-05 08:00:00'), 'Shipped', '654 Maple St', pd.Period('2022-05', freq='M'))
]


df_list_of_named_tuples = pd.DataFrame(data)
df_list_of_named_tuples

,Order_ID,Product,Customer_ID,Is_Prime,Quantity,Price,Order_DatetimeTZNaive,Order_Status,Shipping_Address,Order_Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [7]:
### Reading from a csv 
df_csv_data = pd.read_csv('customer_order_data.csv')
df_csv_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [8]:
#### Reading from a json 
df_json_data = pd.read_json('customer_order_data.json')
df_json_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,1641024000000,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,1641110400000,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,1641196800000,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,1641283200000,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,164136960000,Shipped,654 Maple St,2022-05

In [9]:
### Reading from excel
df_excel_data = pd.read_excel('customer_order_data.xlsx')
df_excel_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [10]:
#### Reading from a parquet 
df_parquet_data = pd.read_parquet('customer_order_data.parquet')
df_parquet_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [11]:
### Reading from html
df_html_data = pd.read_html('customer_order_data.html')
df_html_data= df_html_data[0]
df_html_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05

In [14]:
### Reading from feather
df_feather_data = pd.read_feather('customer_order_data.fea')

df_feather_data

,Order ID,Product,Customer ID,Is Prime,Quantity,Price,Order DatetimeTZNaive,Order Status,Shipping Address,Order Period
0,1001,Widget,C001,True,10,9.99,2022-01-01 08:00:00,Pending,123 Main St,2022-01
1,1002,Gadget,C002,False,5,19.99,2022-01-02 08:00:00,Shipped,456 Elm St,2022-02
2,1003,Thingamajig,C003,True,8,14.99,2022-01-03 08:00:00,Delivered,789 Oak St,2022-03
3,1004,Doodad,C004,False,3,7.99,2022-01-04 08:00:00,Pending,321 Pine St,2022-04
4,1005,Whatchamacallit,C005,True,12,24.99,2022-01-05 08:00:00,Shipped,654 Maple St,2022-05